@use "../variables" as variables;
@use "../colors" as colors;

@mixin table($color) {
  border: none;
  border-spacing: 0;
  text-align: center;

  tr:nth-child(odd) {
    border: none;
    background-color: lighten($color, 20%);
  }

  tr:nth-child(even) {
    border: none;
    background-color: lighten($color, 30%);
  }

  tr:hover:not(tr:first-child) {
    background-color: lighten($color, 10%);
  }

  th {
    border: none;
    padding: variables.$base-padding;
  }

  td {
    border: none;
    padding: variables.$base-padding;
  }
}

@each $key, $value in colors.$colors {
  .table-#{$key} {
    @include table($value);
  }
}
